<section class="hero main__hero">

    <div class="hero__container">
        <div class="hero__swiper">
            <div class="swiper swiper-hero swiper-initialized swiper-horizontal swiper-backface-hidden" data-js-slider-hero-index="">

                <div class="swiper-wrapper swiper-hero__wrapper" id="swiper-wrapper-61077173281064c5cc" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(-1759.08px, 0px, 0px); transition-delay: 0ms;">
                    <div class="swiper-slide swiper-hero__slide" style="width: 925.833px;" role="group" aria-label="3 / 4" data-swiper-slide-index="2">

                        
                        <div class="slide-hero">

                            <div class="slide-hero__img">
                                <picture>
                                    <img src="/static/img/hero/sergej_muller.png" loading="lazy" class="image" width="1200" alt="Die Spiele">
                                </picture>
                            </div>

                            <div class="slide-hero__body">
                                <div class="slide-hero__btns slide-hero__btns--right">
                                    <button 
                                        type="button" 
                                        class="btn btn--big btn--red" 
                                        data-js-modal-target="modal-call" 
                                        aria-label="Kontakt mit der Fahrschule S.V.S Müller aufnehmen" 
                                        data-js-desc="Hinterlassen Sie eine Anfrage und wir melden uns schnellstmöglich bei Ihnen. Wir beantworten alle Fragen rund um den Führerschein und helfen Ihnen beim Einstieg." 
                                        data-js-title="Kontaktformular">
                                            Kontakt aufnehmen
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide swiper-hero__slide swiper-slide-prev" role="group" aria-label="4 / 4" style="width: 925.833px;" data-swiper-slide-index="3">
                        <div class="slide-hero">

                            <div class="slide-hero__img">
                                <picture>
                                    <img src="/static/img/hero/sergej_muller_2.png" loading="lazy" class="image" width="1200" alt="Акция «Акция «Приведи друга» в&nbsp;Автошколе № 1»">
                                </picture>
                            </div>

                            <div class="slide-hero__body">
                                <div class="slide-hero__btns slide-hero__btns--left">
                                    <button 
                                        type="button" 
                                        class="btn btn--big btn--red" 
                                        data-js-modal-target="modal-call" 
                                        aria-label="Das perfekte Geburtstagsgeschenk" 
                                        data-js-desc="Das perfekte Geschenk für einen Geburtstag, einen Abschlussball oder einfach nur so. Bestellen Sie jetzt einen Gutschein und haben Sie Spaß am Fahren!" 
                                        data-js-title="Das perfekte Geburtstagsgeschenk">
                                            Das perfekte Geburtstagsgeschenk
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="swiper-slide swiper-hero__slide swiper-slide-active" style="width: 925.833px;" role="group" aria-label="1 / 4" data-swiper-slide-index="0">
                        <div class="slide-hero">

                            <div class="slide-hero__img">
                                <picture>
                                    <img src="/static/img/hero/Geschenk.png" loading="lazy" class="image" width="1200" alt="Акция «Получите скидку 2000 рублей на обучение в автошколе!»">
                                </picture>
                            </div>

                            <div class="slide-hero__body">
                                <div class="slide-hero__btns slide-hero__btns--left">
                                    <button 
                                        type="button" 
                                        class="btn btn--big btn--red" 
                                        data-js-modal-target="modal-call" 
                                        aria-label="Ich nehme an der Aktion «Geschenk zum Führerscheinstart» teil" 
                                        data-js-desc="Melden Sie sich jetzt an und erhalten Sie ein Willkommensgeschenk zum Start Ihrer Fahrausbildung!" 
                                        data-js-title="Ich nehme an der Aktion «Geschenk zum Führerscheinstart» teil">
                                            Ich will mein Geschenk!
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide swiper-hero__slide swiper-slide-next" style="width: 925.833px;" role="group" aria-label="2 / 4" data-swiper-slide-index="1">
                        <div class="slide-hero">

                            <div class="slide-hero__img">
                                <picture>
                                    <img src="/static/img/hero/draiver-car-5.png" loading="lazy" class="image" width="1200" alt="Акция «Сертификат на&nbsp;обучение в&nbsp;Автошколе №1»">
                                </picture>
                            </div>

                            <div class="slide-hero__body">
                                <div class="slide-hero__btns slide-hero__btns--left">
                                    <button 
                                        type="button" 
                                        class="btn btn--big btn--red" 
                                        data-js-modal-target="modal-call" 
                                        aria-label="Ich nehme an der Aktion «Bring einen Freund» teil" 
                                        data-js-desc="Bringen Sie Ihre Freunde zu unserer Fahrschule und profitieren Sie!" 
                                        data-js-title="Ich nehme an der Aktion «Bring einen Freund» teil">
                                            Ich komme mit einem Freund!
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span>
                    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
                    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span>
                    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
                </div>

                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
    </div>
</section>