<section class="installment-section main__installment-section pb100">
    <div class="installment-section__container container">
        <div class="installment-form mt40">
            <div class="form-block">

                <form action="#" method="POST" class="form" data-js-form="">

                    <div class="form__inputs form__inputs--section form__inputs--white">
                        <div class="input-container input-container--inner">
                            <input class="input" type="text" name="name" data-mask="name" data-js-input="">
                            <label class="label">Name</label>
                            <div class="bar"></div>
                        </div>

                        <div class="input-container input-container--inner">
                            <input class="input" type="tel" name="phone" data-mask="phone" data-js-input="">
                            <label class="label">Handynummer</label>
                            <div class="bar"></div>
                        </div>

                        <div class="input-container-submit">

                            <button type="submit" class="btn btn--w15">Anfrage absenden</button>

                            <div class="form-person">Ich versichere, die Datenschutzerklärung gelesen zu haben und stimme der Nutzung meiner Daten gemäß der Datenschutzerklärung zu.*
                            </div>

                        </div>

                    </div>

                </form>
            </div>

        </div>
    </div>

</section>  