<section class="lid-call-section main__lid-call-section pt100">
    <div class="lid-call-section__container container" style="border-radius: 17pt; background-image: url('static/img/hero/erstehilfe.jpg'); background-size: cover;">

        <div class="lid-call" style="background: none;">
            <div class="lid-call__main lid-call-main">
                <!--
                <div class="lid-call-main__desc"><span>Наличие</span> Есть свободные места в&nbsp;группе</div>
                -->

                <h2 class="title-2 lid-call-main__title"><span>Erste Hilfe,</span> Sehtest&nbsp;&&nbsp;Passbild!</h2>

                <div class="lid-call-main__sub">Wer den Führerschein macht, muss einen Erste-Hilfe-Kurs besuchen und einen Sehtest machen. Bei der Führerscheinstelle müssen Sie die entsprechenden Bescheinigungen vorlegen. Das ist dabei zu beachten.
                </div>
                <!--
                <div class="lid-call-main__price"><del data-js-num="">1 200 ₽</del> <span>бесплатно</span></div>
                -->
                <div class="lid-call-main__btn">
                    <a href="/erstehilfe/" class="btn btn--big btn--red">
                        Mehr Informationen
                    </a>
                </div>
            </div>
            <!--
            <div class="lid-call__decor lid-call-decor">
                <div class="lid-call-decor__item lid-call-decor__item--1">Как сделать первый шаг к&nbsp;своим правам?</div>
                <div class="lid-call-decor__item lid-call-decor__item--2">С&nbsp;чего начать?</div>
                <div class="lid-call-decor__item lid-call-decor__item--3">Теперь я&nbsp;не&nbsp;боюсь сесть за&nbsp;руль!</div>
            </div>
            -->
        </div>
    </div>
</section>