<footer class="footer">
    <div class="container">
        <div class="footer__nav footer-nav">
        <div class="footer-nav__item">
            <h2>Kurse</h2>
            <ul>
                <li><a href="/pkw/">PKW-Führerschein</a></li>
                <li><a href="/lkw/">LKW-Führerschein</a></li>
                <li><a href="/motorrad/">Kraftrad-Führerschein</a></li>
                <li><a href="/b_17/">Führerschein mit 17</a></li>
                <li><a href="">Berufskraftfahrer</a></li>
                <li><a href="/aufbauseminare/">Aufbauseminare</a></li>
            </ul>
        </div>
        <div class="footer-nav__item">
            <h2>Unterrichtszeiten</h2>
            <ul>
                <li><a href="#">Mo.: 18:00 – 19:30</a></li>
                <li><a href="#">Do.: 18:00 – 19:30</a></li>
                <li><a href="#">Sa.: nach Absprache</a></li>
            </ul>
        </div>
        <div class="footer-nav__item">
            <h2>Fahrschule</h2>
            <ul>
                <li><a href="/team/">Team</a></li>
                <li><a href="/products/">Lehrmittel</a></li>
                <li><a href="/karriere/ausbildung">Ausbildung</a></li>
                <li><a href="/karriere/stelle">Wir suchen Fahrlehrer</a></li>
                <li><a href="">...</a></li>
            </ul>
        </div>
        <div class="footer-nav__item">
            <h2>Impressum</h2>
            <ul>
                <li>
                    <a href="/datenschutz/">Datenschutz</a>
                </li>
                <li>
                    <a href="">Haftungsausschluss</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer__copyright footer-copyright">
        <div class="footer-copyright__item">
            <p>© Copyright 2001-{% now "Y" %}.</p>
            <h2>Fahrschule SVS Müller</h2>
            <p>32052&nbsp;Herford&nbsp;Johannisstraße&nbsp;36</p>
            <p>
                <a href="tel:0172-792 88 78">0172-792 88 78</a>
                <a href="email:info@fahrschule-svs-mueller.de">info@fahrschule-svs-mueller.de</a>
            </p>
        </div>

        <div class="footer-copyright__desc">
            <p>Wir bitten um telefonische Voranmeldung.</p>
        </div>

        <div class="footer-copyright__links">
            <a class="" href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m12!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m5!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" target="_blank"><span>Google</span></a>
        </div>
        <div class="footer-copyright__web">
            <p>Ein Theme von <a href="https://wa.me/" target="_blank">Vanpip</a></p>
        </div>

    </div>
    </div>
</footer>

</div>

<div id="modal-call" class="modal">
    <div class="modal-content modal-content--form">

        <button type="button" aria-label="Close" class="modal-content__close" data-js-modal-close="">

            <div class="close">
                <div class="close__left"></div>
                <div class="close__right"></div>
            </div>

        </button>

        <div class="modal-content__body">

            <div class="modal-content__title">
                <h2 class="title-2" data-js-modal-title=""></h2>
                <div class="title-sub" data-js-modal-subtitle=""></div>
            </div>

            <div class="modal-content__form form-block">

                <form action="#" method="POST" class="form form--modal" data-js-form="" name="asf">
                    {% csrf_token %}
                    <div class="form__inputs-hidden">
                        <input type="text" name="formName" hidden="" value="">
                        <!-- <input type="url" name="url" pattern="https://.*" hidden value=""> pattern="https?://.+" -->
                        <input type="url" name="url" hidden="" value="https://fahrschule-svs-mueller.de/">
                    </div>

                    <div class="form__inputs form__inputs--window">
                        <!--  autocomplete required -->
                        <div class="input-container input-container--inner">
                            <input class="input" type="text" name="name" data-mask="name" data-js-input="">
                            <label class="label">Name</label>
                            <div class="bar"></div>
                        </div>

                        <div class="input-container input-container--inner">
                            <input class="input" type="tel" id="phone" name="phone" data-mask="phone" data-js-input="">
                            <label class="label">Phone</label>
                            <div class="bar"></div>
                        </div>

                        <div class="input-container input-container--list" data-js-select-block="">
                            <!--<label class="label-list">Как с&nbsp;Вами связаться?</label>-->

                            <div class="form-select" data-js-input-select="">Kommunikationsmethode</div>

                            <ul data-js-select-list="">
                                <li data-js-select="Phone">Phone</li>
                                <li data-js-select="WhatsApp">WhatsApp</li>
                                <li data-js-select="Termin">Termin im Büro</li>
                            </ul>

                            <input type="text" name="social" value="" class="input-hidden" hidden="" data-js-select-hidden="">
                        </div>

                    </div>

                    <div class="form-group mt-3">
                        <textarea class="form-control" id= "formMessage" name="formMessage" rows="3" placeholder="Ihre Nachricht"></textarea>
                    </div>

                    <div class="input-container-submit mt-3">
                        <button type="submit" class="btn btn--big btn--red">Anfrage absenden</button>
                    </div>

                </form>
            </div>

            <div class="form-person">Ich versichere, die Datenschutzerklärung gelesen zu haben und stimme der Nutzung meiner Daten gemäß der Datenschutzerklärung zu.*
            </div>

        </div>

    </div>
</div>

<div id="modal-review" class="modal">
    <div class="modal-content modal-content--rev">

        <button type="button" aria-label="Закрыть модальное окно" class="modal-content__close" data-js-modal-close="">

            <div class="close">
                <div class="close__left"></div>
                <div class="close__right"></div>
            </div>

        </button>

        <div class="modal-content__body">

            <div class="modal-content__title">
                <h2 class="title-2">Bewertung eines Fahrschülers</h2>
                <h3 class="title-3" data-js-review-name-modal=""></h3>
                <div class="title-sub" data-js-review-date-modal=""></div>
            </div>
            <div class="modal-content__review" data-js-review-text-modal=""></div>
            <div class="modal-content__review-agregator">
                <div class="modal-content__review-agregator-desc">Alle Bewertungen über die Fahrschule lesen auf</div>
                <a class="modal-content__review-agregator-link" href="" data-js-review-agregator-modal="" target="_blank"></a>
            </div>
        </div>

    </div>
</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/imask.js"></script>
<script src="/static/js/swiper-bundle.js"></script>
<script src="/static/js/lightbox-plus-jquery.js"></script>
<script src="/static/js/app.js?v11"></script>