<header class="header" data-js-header="" id ="mainHeader">
    <div class="header__container">

        <div class="header__row">
            <div class="header__logo" style="height: auto;">
                <a href="/" class="logo">
                    <img src="/static/img/logo/logo_1.png" alt="Fahrschule SVS Muller" width="180" height="41">
                </a>
            </div>

            <nav class="header__nav nav" style="justify-content: center">
                <div class="nav-list" data-js-navigation="">
                    <ul class="nav-list-menu">
                        <li class="nav-list-menu__parent nav-list-menu__parent--one">
                            <button type="button" class="nav-list-menu__parent-btn" data-js-menu-list="">Fahrschule</button>
                            <ul>
                                <li><a href="/team">Unsere Team</a></li>
                                <li><a href="/pkw/">PKW</a></li>
                                <li><a href="/lkw/">LKW</a></li>
                                <li><a href="/motorrad/">Motorrad</a></li>
                                <li><a href="/b_17/">Führerschein mit 17</a></li>
                                <li><a href="/aufbauseminare/">Aufbauseminare</a></li>
                                <li><a href="/products/">Lehrmittel</a></li>
                            </ul>
                        </li>
                        <li class="nav-list-menu__parent">
                            <button type="button" class="nav-list-menu__parent-btn" data-js-menu-list="">Führerscheine</button>
                            <ul class="nav-list-menu__list-flex">
                                <li>
                                    <a href="/motorrad/">
                                        <picture>
                                            <img src="/static/img/categories/moto.png" loading="lazy" width="" alt="Категория А">
                                        </picture>
                                    </a>
                                </li>
                                <li>
                                    <a href="/pkw/">
                                        <picture>
                                            <img src="/static/img/categories/b-kpp.png" loading="lazy" width="" alt="Категория B">
                                        </picture>
                                    </a>
                                </li>
                                <li>
                                    <a href="/lkw/">
                                        <picture>
                                            <img src="/static/img/categories/ab.png" loading="lazy" width="" alt="Категории А+В">
                                        </picture>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-list-menu__parent nav-list-menu__parent--one">
                            <button type="button" class="nav-list-menu__parent-btn" data-js-menu-list="">Impressum</button>
                            <ul>
                                <li><a href="/datenschutz/">Datenschutz</a></li>
                                <li><a href="https://fahrschule-svs-mueller.de/haftungsausschluss/">Haftungsausschluss</a></li>
                            </ul>
                        </li>
                        <li class="nav-list-menu__parent nav-list-menu__parent--one">
                            <button type="button" class="nav-list-menu__parent-btn" data-js-menu-list="">Prufung</button>
                            <ul>
                                {% for i in exam_items %}
                                <li><a href="/exam/?type_id={{i.id}}">Classe {{i.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-list-menu__parent nav-list-menu__parent--one">
                            <button type="button" class="nav-list-menu__parent-btn" data-js-menu-list="">Karriere</button>
                            <ul>
                                <li><a href="/karriere/ausbildung">Ausbildung</a></li>
                                <li><a href="/karriere/stelle">Wir suchen Fahrlehrer</a></li>
                            </ul>
                        </li>

                        
                    </ul>
                </div>
            </nav>

            <div class="header__btns">

                <div class="d-none d-md-block header__phone header-phone" data-js-header-hover="">

                    <div class="header-phone__info phone-info" data-js-header-info="">
                        <ul class="phone-info__list">

                            <li class="phone-info__col" style="background-image: url('/static/img/gallery/photo.png'); background-size: cover;">

                            </li>


                            <li class="phone-info__col" style=" background: var(--page-bg); color: var(--primary);">
                                <div class="phone-info__title info-title">
                                    <h2>Herford</h2>
                                </div>
                                <div class="phone-info__desc info-call">
                                    <a href="tel:0172-792 88 78">0172-792 88 78</a>
                                </div>
                                <div class="phone-info__btns">

                                    <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m12!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m5!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D">Johannisstraße 36</a>
                                    <button 
                                        type="button" 
                                        class="btn" 
                                        data-js-modal-target="modal-call" 
                                        aria-label="Rückruf bestellen" 
                                        data-js-desc="Bitte hinterlassen Sie eine Anfrage, wir rufen Sie innerhalb von 15 Minuten zurück." 
                                        data-js-title="Rückruf bestellen">Einen Anruf bestellen</button>

                                </div>
                            </li>

                            <li class="phone-info__col">

                                <div class="phone-info__title info-title">
                                    <svg class="icon icon--white" style="width: 20px; height: 20px;">
                                        <!--<use xlink:href="./img/sprite.svg#clock"></use>-->
                                    </svg>
                                    <h2>Unterrichtszeiten</h2>
                                </div>

                                <div class="phone-info__desc">
                                    <ul>
                                        <li><span>MO.</span> 18:00 – 19:30</li>
                                        <li><span>DO.</span> 18:00 – 19:30</li>
                                    </ul>
                                    <div class="phone-info__warn">
                                        Die Öffnungszeiten <b>können abweichen</b>, bitte rufen Sie unbedingt vor Ihrer Anfahrt an!
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <button class="btn btn--icon btn--phone" data-js-header-btn="" style="width: auto;">
                        <div class="svg-icon">
                            <object type="image/svg+xml" data="/static/img/svg/phone.svg" style="color: white; width: 24px; height: 24px;"></object>
                        </div>
                        <span>Hier findest Du uns</span>
                    </button>

                </div>

                <div class="header__wts" data-js-wts="">
                    <a class="btn btn--icon btn--wts" href="https://wa.me/+7499">
                        <div class="svg-icon svg-icon--wts">
                            <img src="/static/img/svg/wts.svg" class="icon icon--white" style="width: 24px; height: 24px;"></i>
                        </div>
                        <span>WhatsApp</span>
                    </a>
                </div>

                <div class="header__nav-btn">
                    <button class="btn btn--icon btn--menu" data-js-burger="">
                        <span class="svg-icon svg-icon--menu" data-js-icon-burger=""></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="mobile-nav" data-js-mobile-wrapper="">
    <nav class="mobile-nav__menu" data-js-mobile-nav="">
        <ul class="nav-list-menu">
            <li class="nav-list-menu__parent nav-list-menu__parent--one">
                <button type="button" class="nav-list-menu__parent-btn" data-js-menu-list="">Fahrschule</button>
                <ul>
                    <li><a href="/team">Unsere Team</a></li>
                    <li><a href="/pkw/">PKW</a></li>
                    <li><a href="/lkw/">LKW</a></li>
                    <li><a href="/motorrad/">Motorrad</a></li>
                    <li><a href="/b_17/">Führerschein mit 17</a></li>
                    <li><a href="/aufbauseminare/">Aufbauseminare</a></li>
                    <li><a href="/products/">Lehrmittel</a></li>
                </ul>
            </li>
            <li class="nav-list-menu__parent">
                <button type="button" class="nav-list-menu__parent-btn" data-js-menu-list="">Führerscheine</button>
                <ul class="nav-list-menu__list-flex">
                    <li>
                        <a href="/motorrad/">
                            <picture>
                                <img src="/static/img/categories/moto.png" loading="lazy" width="" alt="Klasse A">
                            </picture>
                        </a>
                    </li>
                    <li>
                        <a href="/lkw/">
                            <picture>
                                <img src="/static/img/categories/b-kpp.png" loading="lazy" width="" alt="Klasse B">
                            </picture>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <picture>
                                <img src="/static/img/categories/ab.png" loading="lazy" width="" alt="Klasse C">
                            </picture>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-list-menu__parent nav-list-menu__parent--one">
                <button type="button" class="nav-list-menu__parent-btn" data-js-menu-list="">Impressum</button>
                <ul>
                    <li><a href="/datenschutz/">Datenschutz</a></li>
                    <li><a href="https://fahrschule-svs-mueller.de/haftungsausschluss/">Haftungsausschluss</a></li>
                </ul>
            </li>

            <li class="nav-list-menu__parent nav-list-menu__parent--one">
                <button type="button" class="nav-list-menu__parent-btn" data-js-menu-list="">Karriere</button>
                <ul>
                    <li><a href="/karriere/ausbildung">Ausbildung</a></li>
                    <li><a href="/karriere/stelle">Wir suchen Fahrlehrer</a></li>
                </ul>
            </li>

        </ul>
    </nav>
    <div class="mobile-nav__btns" data-js-mobile-footer="">
        <a class="btn btn--icon btn--wts" href="https://wa.me/+74993904445">
            <div class="svg-icon svg-icon--wts">
                <svg class="icon icon--white" style="width: 24px; height: 24px;">
                    <!--<use xlink:href="./img/sprite.svg#wts"></use>-->
                </svg>
            </div>
            <span>WhatsApp</span>
        </a>
    </div>
</div>