<section class="reviews-section main__reviews-section pt60 pb60">
    <div class="reviews-section__container container">

        <div class="reviews-section__title mb60">
            <h2 class="title-1">Bewertungen über die <span>„Fahrschule SVS Müller“</span></h2>
        </div>

    </div>

    <div class="reviews-section__content">

        <div class="reviews-catalog">

            <div class="swiper reviews-slider" data-js-reviews>
                <div class="swiper-wrapper reviews-slider__wrapper">

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.clickclickdrive.de/school/fahrschule-svs-mueller" class="review__agregator review__agregator--clickclick" data-js-review-agregator="clickclick" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="Alexandra h.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>Alexandra h.</h3>
                                    <div class="review__date" data-js-review-date>July 19, 2023</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>Super Fahrlehrer, kann ich nur weiter empfehlen!!</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="Viktoria G">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>Viktoria G</h3>
                                    <div class="review__date" data-js-review-date>8 September 2023</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>Da intradevar , au fost careva probleme cu masina dar nicidecum nu din vina instructorului , noi cu totii stim ca aici lucrurile se rezolva foarte lent , mai ales cind vine vorba de asigurare . Si cum a mentionat domnisoara de mai sus ca a asteptat trei luni masina si a plecat ... , eu am asteptat un pic mai mult dar am rămas si am sustinut examenul cu brio . Multumesc mult pentru rabdare si profisionalism domnului Sergiu , si recomand cu mare incredere scoala auto Müller 👍👍👍👍</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.clickclickdrive.de/school/fahrschule-svs-mueller" class="review__agregator review__agregator--clickclick" data-js-review-agregator="clickclick" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="Burmann T.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>Burmann T.</h3>
                                    <div class="review__date" data-js-review-date>August 25, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>Ich bin mit Sergej immer zufrieden gewesen. Ein super netter Fahrlehrer , immer pünktlich. Sergej ist sehr geduldig, er hat mir alles beigebracht was zum Autoführen wichtig ist. Ich war zufrieden. Ich kann es nur weiter empfehlen. Top Fahrlehrer</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="Aleksej F">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>Aleksej F</h3>
                                    <div class="review__date" data-js-review-date>8 Oktober 2024</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>День когда ты получаеш права не просто права а европейские водительские права.Долгий путь который я прошол в месте с прекрасным учителем,педагогом и мастером своего дела.От начала и до конца Сергей помогал в обучении новой теории и обучении правельной езды.Рекомендую всем прекрасную автошколу желаю успехов в начинании.</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide review" data-js-review>
                        <div class="review__wrapper">

                            <a href="https://www.google.com/maps/place/Fahrschule+SVS+M%C3%BCller/@52.11296,8.6714471,17z/data=!4m14!1m5!8m4!1e1!2s111165200688114550647!3m1!1e1!3m7!1s0x47ba143f17de02c3:0x9efff589d24b666a!8m2!3d52.11296!4d8.674022!9m1!1b1!16s%2Fg%2F1yg4dhmrk?hl=ru&entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" class="review__agregator review__agregator--google" data-js-review-agregator="google" target="_blank"></a>

                            <div class="review__content">

                                <button type="button" class="review__button-modal" data-js-rev-modal-target="modal-review"
                                        aria-label="A B.">Weiterlesen</button>

                                <div class="review__header">
                                    <h3 class="title-5" data-js-review-name>A B.</h3>
                                    <div class="review__date" data-js-review-date>June 17, 2021</div>
                                </div>

                                <div class="review__footer">
                                    <div class="review__descr-text">
                                        <svg style="width: 80px; height: 80px;">
                                            <use xlink:href="./img/sprite.svg#bloq"></use>
                                        </svg>
                                        <p class="truncate" data-js-review-text>I was very satisfied with the driving instructor! He explained everything perfectly and responded to my questions and weaknesses. I got all of my driver's licenses (car, motorcycle, truck) at the SVS Müller driving school and passed them all the first time. I would recommend it :)</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

    </div>
</section>

