<section class="prices main__prices">

    <div class="prices__container container">

        <div class="prices__cards body-price">

            <div class="tabs-content active">
                <div class="tabs-content__wrapper scroll-w">
                    <article class="card-price">

                        <picture>
                            <img src="/static/img/categories/moto_a2.png" loading="lazy" class="image card-price__img" width="" alt="Kraftrad-Führerschein">
                        </picture>

                        <div class="card-price__title">
                            <a href="/motorrad/">
                                <h3 class="title-big fw800 t-upper">Kraftrad-Führerschein</h3>
                            </a>
                        </div>

                        <div class="card-price__tariff">
                            <div class="card-price__summ"></div>
                            <div class="card-price__btn">
                                <a href="/motorrad/" class="btn btn--w15">Mehr Informationen</a>
                            </div>
                        </div>

                        <div class="card-price__body">

                            <div class="card-price__left">
                                <div class="card-price__plan font-title title-small fw400 op-7">
                                    Erlebe die Freiheit auf zwei Rädern – mit unserem Motorradführerschein wirst Du unabhängig und genießt jede Fahrt!
                                </div>
                                <ul>
                                    <li>А&nbsp;</li>
                                    <li>А2&nbsp;</li>
                                    <li>А1&nbsp;</li>
                                    <li>АM (Roller)</li>
                                    <li>Mofa (bis 25km/h)</li>
                                </ul>

                                <div class="card-price__time">
                                    Ersterwerb: 12 Doppelstunden (jeweils 90 Minuten) für den Grundstoff sowie 4 spezielle Zusatzstunden absolvieren
                                </div>
                                <div class="card-price__time">
                                    *Erweiterung: 6 Doppelstunden (jeweils 90 Minuten)
                                </div>
                            </div>

                            <div class="card-price__right" data-dn-480="">
                                <h3 class="title-small fw400 op-7">Pflicht-Fahrstunden für den Motorradführerschein:</h3>
                                <ul>
                                    <li><span>5x</span>&nbsp;Überlandfahrten</li>
                                    <li><span>4x</span>&nbsp;Autobahnfahrten</li>
                                    <li><span>3x</span>&nbsp;Fahrten bei Dunkelheit</li>
                                    <li>Übungsstunden nach Bedarf</li>
                                </ul>
                            </div>

                        </div>

                    </article>

                    <article class="card-price">

                        <picture>
                            <img src="/static/img/categories/moto_b196_1.png" loading="lazy" class="image card-price__img" width="" alt="Kraftrad-Führerschein">
                        </picture>

                        <div class="card-price__title">
                            <a href="/b_196/">
                                <h3 class="title-big fw800 t-upper">Fahrerlaubnis der Klasse B196</h3>
                            </a>
                        </div>

                        <div class="card-price__tariff">
                            <div class="card-price__summ"></div>
                            <div class="card-price__btn">
                                <a href="/b_196/" class="btn btn--w15">Mehr Informationen</a>
                            </div>
                        </div>

                        <div class="card-price__body">

                            <div class="card-price__left">
                                <div class="card-price__plan font-title title-small fw400 op-7">
                                    Berechtigung zum Führen von Lechtkrafträdern der Fahrerlaubnisklasse A1 im Inland, sofern der Inhaber/die Inhaberin der Fahrerlaubnis der Klasse B diese ununterbrochen seit mindestens 5 Jahren besitzt und das 25. Lebensjahr vollendet hat.
                                </div>
                                <ul>
                                    <li>B196&nbsp;— bis 125 ccm</li>
                                </ul>

                            </div>

                            <div class="card-price__right" data-dn-480="">
                                <h3 class="title-small fw400 op-7">Pflicht-Fahrstunden für den Motorradführerschein:</h3>
                                <ul>
                                    <li>Dauer mindestens<span>5x90min</span>&nbsp;Praktische Schulung</li>
                                    <li>Dauer mindestens<span>4x90min</span>&nbsp;Theoretische Schulung</li>
                                    <li>keine Prüfungen</li>
                                </ul>
                            </div>

                        </div>

                    </article>

                    <article class="card-price">

                        <picture>
                            <img src="/static/img/categories/pkw_1.png" loading="lazy" class="image card-price__img" width="" alt="PKW-Führerschein">
                        </picture>

                        <div class="card-price__title">
                            <a href="">
                                <h3 class="title-big fw800 t-upper">PKW-Führerschein</h3>
                            </a>
                        </div>

                        <div class="card-price__tariff">
                            <div class="card-price__summ"></div>
                            <div class="card-price__btn">
                                <a href="" class="btn btn--w15">Mehr Informationen</a>
                            </div>
                        </div>

                        <div class="card-price__body">

                            <div class="card-price__left">
                                <div class="card-price__plan font-title title-small fw400 op-7">
                                    Mehr Freiheit, mehr Unabhängigkeit, mehr Leben – mit dem Führerschein Klasse B begleiten wir Dich auf dem Weg dorthin!
                                </div>
                                <ul>
                                    <li>B&nbsp;— PKW</li>
                                    <li>B197&nbsp;— PKW Schaltung/Prüfung Automatik</li>
                                    <li>B78&nbsp;— PKW Automatik</li>
                                    <li>BE&nbsp;— PKW mit Anhänger</li>
                                    <li>B96&nbsp;— PKW mit Anhänger/Ohne praktische Prüfung</li>
                                </ul>

                                <div class="card-price__time">
                                    Ersterwerb: 12 Doppelstunden (jeweils 90 Minuten) für den Grundstoff sowie 4 spezielle Zusatzstunden absolvieren
                                </div>
                                <div class="card-price__time">
                                    *Erweiterung: 6 Doppelstunden (jeweils 90 Minuten)
                                </div>
                            </div>

                            <div class="card-price__right" data-dn-480="">
                                <h3 class="title-small fw400 op-7">Pflicht-Fahrstunden für Deinen Führerschein:</h3>
                                <ul>
                                    <li><span>5x</span>&nbsp;Überlandfahrten</li>
                                    <li><span>4x</span>&nbsp;Autobahnfahrten</li>
                                    <li><span>3x</span>&nbsp;Fahrten bei Dunkelheit</li>
                                    <li>Übungsstunden nach Bedarf</li>
                                </ul>
                            </div>

                        </div>
                    </article>

                    <article class="card-price">

                        <picture>
                            <source srcset="/static/img/categories/lkw_1.png" type="image/png">
                            <img src="/static/img/categories/lkw_1.png" loading="lazy" class="image card-price__img" width="" alt="Klasse&nbsp;C">
                        </picture>

                        <div class="card-price__title">
                            <a href="/lkw/">
                                <h3 class="title-big fw800 t-upper">LKW-Führerschein</h3>
                            </a>
                        </div>

                        <div class="card-price__tariff">
                            <div class="card-price__summ"></div>
                            <div class="card-price__btn">
                                <a href="/lkw/" class="btn btn--w15">Mehr Informationen</a>
                            </div>
                        </div>

                        <div class="card-price__body">

                            <div class="card-price__left">
                                <div class="card-price__plan font-title title-small fw400 op-7">
                                    Mehr Power, mehr Verantwortung – mit dem LKW-Führerschein Klasse C meisterst Du jede Herausforderung auf der Straße!
                                </div>
                                <ul>
                                    <li>C&nbsp;— LKW</li>
                                    <li>CE&nbsp;— LKW</li>
                                    <li>C1&nbsp;— LKW bis 7,5t</li>
                                </ul>

                            </div>

                            <div class="card-price__right" data-dn-480="">
                                <h3 class="title-small fw400 op-7">Voraussetzungen für Führerschein Klasse C, CE, C1, C1E:</h3>
                                <ul>
                                    
                                    <li>Mindestens 21 Jahre</li>
                                    <li>Für Auszubildende im Berufskraftfahrerbereich kann das Mindestalter auf 18 Jahre abgesenkt werden</li>
                                    
                                </ul>
                            </div>

                        </div>

                        <div class="card-price__body">

                            <div class="card-price__left">
                                <div class="card-price__plan font-title title-small fw400 op-7">
                                    Mehr Power, mehr Verantwortung – mit dem LKW-Führerschein Klasse C meisterst Du jede Herausforderung auf der Straße!
                                </div>
                                <ul>
                                    <li>C&nbsp;— LKW</li>
                                    <li>CE&nbsp;— LKW</li>
                                    <li>C1&nbsp;— LKW bis 7,5t</li>
                                </ul>

                            </div>

                            <div class="card-price__right" data-dn-480="">
                                <h3 class="title-small fw400 op-7">Voraussetzungen für Führerschein Klasse C, CE, C1, C1E:</h3>
                                <ul>
                                    
                                    <li>Mindestens 21 Jahre</li>
                                    <li>Für Auszubildende im Berufskraftfahrerbereich kann das Mindestalter auf 18 Jahre abgesenkt werden</li>
                                    
                                </ul>
                            </div>

                        </div>
                    </article>

                    <article class="card-price">

                        <picture>
                            <img src="/static/img/categories/gb.png" loading="lazy" class="image card-price__img" width="" alt="Kraftrad-Führerschein">
                        </picture>

                        <div class="card-price__title">
                            <a href="/gabelstapler/">
                                <h3 class="title-big fw800 t-upper">Flürförderfahrzeugeschein / Gabelstaplerschein</h3>
                            </a>
                        </div>

                        <div class="card-price__tariff">
                            <div class="card-price__summ"></div>
                            <div class="card-price__btn">
                                <a href="/gabelstapler/" class="btn btn--w15">Mehr Informationen</a>
                            </div>
                        </div>

                        <div class="card-price__body">

                            
                            <div class="card-price__left">
                                <div class="card-price__plan font-title title-small fw400 op-7">
                                    
                                </div>
                                <ul>
                                    <li>
                                        <span style="font-weight: 500;font-size: clamp(24px, 28 / 1440 * 100vw, 28px);">Gabelstapler</span>   
                                    </li>
                                </ul>

                            </div>

                            <div class="card-price__right" data-dn-480="">
                                <h3 class="title-small fw400 op-7"></h3>
                                <ul>
                                    <li>Mindestalter von 18 Jahren, eine körperliche und geistige Eignung, eine theoretische und praktische Ausbildung</li>
                                    <li>Wir bilden nach BG Richtlinien</li>
                                </ul>
                            </div>
                            

                        </div>

                    </article>

                </div>
            </div>
        </div>
    </div>
</section> 