<section class="comand-section pb80">
    <div class="pt80 pb40">
        <!--<div class="container">
            <div class="breadcrumblist">
                <ul class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList"><li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                    <a href="https://fahrschule-svs-mueller.de/" itemprop="item">
                        <span itemprop="name">Home</span>
                    </a>
                    <meta itemprop="position" content="1">
                </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
                        <span itemprop="name">Team</span><meta itemprop="position" content="2"></li></ul>
            </div>
        </div>
        -->
    </div>
    <div class="container">

        <div class="comand-section__title mb60">
            <h1 class="title-1">Unsere <span>Team</span></h1>
        </div>

        <div class="comand">
            <!-- Директор -->
            <div class="comand__boss collaborator-boss content-text mb80">

                <div class="collaborator-boss__grid">

                    <div class="collaborator-boss__img">
                        <picture>
                            <img loading="lazy" src="/static/img/gallery/5.png" class="image" width="300" height="300" alt=" ">
                        </picture>
                    </div>

                    <div class="collaborator-boss__desc">

                        <div class="collaborator-boss__title">
                            <h2 class="title-5">
                                Sergej Müller
                            </h2>
                            <div class="collaborator-boss__sub">
                                Inhaber, Fahrlehrer
                            </div>
                            <div class="collaborator-boss__list">
                                <p><b>Handynummer:</b> 0172&nbsp;792-88-78</p>
                                <p><b>E-Mail:</b> info@fahrschule-svs-mueller.de</p>
                            </div>
                        </div>

                        <div class="collaborator-boss__list">
                            <ul>
                                <li><p>"<b>Herzlich willkommen!</b></p><li>
                                <li> Mein Name ist Sergej Müller, und als Inhaber unserer Fahrschule freue ich mich, Sie auf dem Weg zum Führerschein zu begleiten.</li>
                                <li>Mit über 15 Jahren Erfahrung bieten wir eine individuelle und praxisorientierte Ausbildung. </li>
                                <li>Unser Ziel ist es, Sie nicht nur auf die Prüfung vorzubereiten, sondern auch zu sicheren Fahrern zu machen.</li>
                                <li>Informieren Sie sich über unser Angebot und kontaktieren Sie uns – gemeinsam bringen wir Sie sicher auf die Straße!"</li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>

            <!-- Команда -->
            <div class="comand__inner">

                <div class="collaborator">
                    <div class="collaborator__wrapper">

                        <div class="collaborator__img">
                            <picture>
                                <img loading="lazy" src="/static/img/gallery/1.JPG" class="image" width="300" height="300" alt="">
                            </picture>
                        </div>
                        <!--
                                                        <div class="collaborator__body">
                        
                                                            <div class="collaborator__title">
                                                                <h2 class="title-5">Наталья Владимировна</h2>
                                                            </div>
                                                            <div class="collaborator__sub">
                                                                Преподаватель&nbsp;ПДД
                                                            </div>
                                                        </div>
                        -->
                    </div>
                </div>

                <div class="collaborator">
                    <div class="collaborator__wrapper">

                        <div class="collaborator__img">
                            <picture>
                                <img loading="lazy" src="/static/img/gallery/2.JPG" class="image" width="300" height="300" alt="">
                            </picture>
                        </div>

                    </div>
                </div>

                <div class="collaborator">
                    <div class="collaborator__wrapper">

                        <div class="collaborator__img">
                            <picture>
                                <img loading="lazy" src="/static/img/gallery/3.JPG" class="image" width="300" height="300" alt="">
                            </picture>
                        </div>

                    </div>
                </div>

                <div class="collaborator">
                    <div class="collaborator__wrapper">

                        <div class="collaborator__img">
                            <picture>
                                <img loading="lazy" src="/static/img/gallery/4.JPG" class="image" width="300" height="300" alt="">
                            </picture>
                        </div>

                    </div>
                </div>

                <div class="collaborator">
                    <div class="collaborator__wrapper">

                        <div class="collaborator__img">
                            <picture>
                                <img loading="lazy" src="/static/img/gallery/5.JPG" class="image" width="300" height="300" alt="">
                            </picture>
                        </div>

                    </div>
                </div>

                <div class="collaborator">
                    <div class="collaborator__wrapper">

                        <div class="collaborator__img">
                            <picture>
                                <img loading="lazy" src="/static/img/gallery/6.JPG" class="image" width="300" height="300" alt="">
                            </picture>
                        </div>

                    </div>
                </div>

                <div class="collaborator">
                    <div class="collaborator__wrapper">

                        <div class="collaborator__img">
                            <picture>
                                <img loading="lazy" src="/static/img/gallery/7.JPG" class="image" width="300" height="300" alt="">
                            </picture>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</section>