{% extends "app/pages/base.html" %}

{% block title %}main{% endblock %}

{% block content %}

<section class="articles-section pb60">
  <div class="pt80 pb40">
  </div>
  <div class="container">

    <div class="articles-section__title">
      <h1 class="title-1">Aufbauseminare</h1>
    </div>

    <div class="article-page">
      <div class="article-page__wrapper content">

        <p><img src="/static/img/categories/aufbau.webp" alt="" width="" height="" loading="lazy"></p>

        <p>Bei der Fahrschule SVS Müller bieten wir spezialisierte Aufbauseminar (ASF). Diese Seminar ist darauf ausgerichtet, Ihre Fahrkompetenz zu verbessern, Ihre Sicherheit im Straßenverkehr zu erhöhen und Ihnen wertvolle Fähigkeiten für eine verantwortungsbewusste Fahrpraxis zu vermitteln.</p>
        
      </div>

      <p>&nbsp;</p>
      <p><strong>Aufbauseminare für Fahranfänger (ASF)</strong></p>
      <ul>
        <li>
          <p>Für Fahranfänger, die innerhalb der Probezeit auffallen, sind besondere Aufbauseminare (ASF) vorgesehen.</p>
          <p>In <b>vier</b> Sitzungen und bei einer Fahrprobe sollen Fehler und Schwächen der Teilnehmer erkannt und ausgeglichen werden.</p>
          <p>lm Mittelpunkt stehen Gruppengespräche und Gruppenarbeit. Dabei werden die Zuwiderhandlungen, die, zur Seminarteilnahme geführt haben, erörtert sowie problematische Verkehrssituationen und Verhaltensweisen analysiert.</p>
          <p>Ziel ist ein individuelles Konzept für ein sicheres und rücksichtsvolles Fahrverhalten zu entwickeln. Dabei soll die Einstellung zum Verhalten im Straßenverkehr geändert, das Risikobewusstsein gefördert und die Gefahrenerkennung verbessert werden.</p>
        </li>
      </ul>

      <!--https://fahrschule-buschmann.de/anmeldung-fuer-asf/-->

      <a href="/aufbauseminare/anmeldung/" class="btn btn--big btn--red">Anmeldung zum ASF-Kurs</a>
      
    </div>
  </div>
</section>

{% include "app/includes/reviews_section.html" %}

{% endblock %}