{% extends "app/pages/base.html" %}

{% block title %}main{% endblock %}

{% block content %}

<section class="articles-section pb60">
  <div class="pt80 pb40">
  </div>
  <div class="container">

    <div class="articles-section__title">
      <h1 class="title-1">Führerschein B196</h1>
    </div>

    <div class="article-page">
      <div class="article-page__wrapper content">

        <p><img src="/static/img/categories/moto_b196.webp" alt="" width="" height="" loading="lazy"></p>

        <p>Der B196-Führerschein in Deutschland ermöglicht es Besitzern eines Führerscheins der Kategorie B, Motorräder bis zu 125 ccm ohne zusätzliche Ausbildung zu fahren. </p>

        <p>&nbsp;</p>

        <p>Es sind keine theoretischen und praktischen Prüfungen erforderlich</p>
        <p>Mindestens 9 Stunden Motorradtraining müssen absolviert werden</p>
        <p>Gültig nur in Deutschland, in anderen Ländern nicht anerkannt</p>
      </div>
    </div>
  </div>
</section>

{% include "app/includes/reviews_section.html" %}

{% endblock %}