{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/img/logo/ico.png" type="image/x-icon">
        
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Fahrschule S.V.S. Müller – Führerschein für PKW, LKW und Motorrad in Deutschland</title>
        {% endif %}

        {% if description %}
            <meta name="description" content="{{ description }}">
        {% else %}
            <meta name="description" content= "Fahrschule S.V.S. Müller – professionelle Ausbildung für PKW, LKW, Motorrad und Führerschein mit 17. Jetzt informieren und anmelden!">        
        {% endif %}

        {% if keywords %}
            <meta name="keywords" content="{{ keywords }}">
        {% else %}
            <meta name="keywords" content= "Fahrschule, Führerschein, PKW, LKW, Motorrad, Fahrschule Müller, Aufbauseminare, Führerschein mit 17, Deutschland">        
        {% endif %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/static/css/lightbox.min.css">
        <link rel="stylesheet" href="/static/css/main.css">

    </head>
    <body class="page__body body">
        <div class="body__wrapper">
            {% include "app/includes/important_section.html" %}
            {% include "app/includes/header.html" %}
            <main class="main">
                {% block content %}{% endblock %}
            </main>
        
            {% include "app/includes/footer.html" %} 
        </div>
        <script>
            // Уведомление с кнопкой согласия
            document.addEventListener('DOMContentLoaded', function () {
                if (!localStorage.getItem('userConsent')) {
                    let consentBanner = document.createElement('div');
                    consentBanner.innerHTML = `
                        <div style="position: fixed; bottom: 0; z-index: 999999; width: 100%; background: #f0f0f0; padding: 15px; text-align: center; box-shadow: 0 -2px 5px rgba(0,0,0,0.2); font-size:14px;">
                            <br>Wir benutzen Cookies, um Ihre persönlichen Einstellungen zu speichern, die Benutzung zu vereinfachen und Zugriffszahlen zu erhalten. </br>
                            <br>Wenn Sie auf Akzeptieren klicken, erlauben Sie uns die Speicherung aller Cookies.</br>

                            <br>Sie haben das Recht, Ihrer Einwilligung nach Zustimmung zu widersprechen. </br>
                            <br>In unserer <a href="/datenschutz" target="_blank" style="color: #e03638;">Datenschutzerklärung</a> finden Sie eine Möglichkeit, Ihre Einwilligung zurückzuziehen oder die Einstellungen zu bearbeiten.</br>
                            <button id="acceptConsent" style="margin-left: 10px; margin-top: 10px;padding: 10px; background: #e03638; color: #fff; border: none;  border-radius: 6px; cursor: pointer;">Akzeptieren</button>
                        </div>
                    `;
                    document.body.appendChild(consentBanner);
            
                    document.getElementById('acceptConsent').onclick = function () {
                        localStorage.setItem('userConsent', 'true');
                        consentBanner.remove();
                    };
                }
            });
            </script>
    </body>
</html>
