{% extends "app/pages/base.html" %}

{% block title %}main{% endblock %}

{% block content %}

<section class="articles-section pb60">
  <div class="pt80 pb40">
  </div>
  <div class="container">

    <div class="articles-section__title">
      <h1 class="title-1">Gabelstapplerführerschein</h1>
    </div>

    <div class="article-page">
      <div class="article-page__wrapper content">

        <p><img src="/static/img/categories/gabelstappler.webp" alt="" width="" height="" loading="lazy"></p>

        <div class="section">
          <p>
            &nbsp;
          </p>
          <p>
            
            Ein Gabelstaplerführerschein, auch bekannt als <strong>Flurfördermittelschein</strong>, ist erforderlich, um Gabelstapler und andere Flurförderzeuge innerhalb eines Betriebes zu führen. 
            Die Ausbildung umfasst <strong>theoretische und praktische Teile</strong>, die mit Prüfungen abgeschlossen werden. 
            Der Schein ist <strong>lebenslang gültig</strong>, jedoch sind <strong>jährliche Unterweisungen</strong> zur Auffrischung und Aktualisierung der Kenntnisse notwendig.
          </p>
        </div>

        <div class="section">
          <h2>Voraussetzungen für den Gabelstaplerführerschein</h2>
          <ul>
            <li><strong>Mindestalter:</strong> 18 Jahre</li>
            <li><strong>Gesundheitliche Eignung:</strong> Nachweis über eine ärztliche Untersuchung (G 25)</li>
            <li><strong>Schriftliche Beauftragung:</strong> Vom Betrieb, der die Ausbildung organisiert</li>
            <li><strong>Deutschkenntnisse:</strong> Ausreichende Kenntnisse für Theorie und Prüfung</li>
          </ul>
        </div>

        <div class="section">
          <h2>Inhalte der Ausbildung</h2>
          <ul>
            <li>Theoretischer Unterricht zu:
              <ul>
                <li>Fahrphysik, Standsicherheit, Hydraulik, Fahrwerk, Betriebssicherheit, Unfallverhütung, Pflichten des Fahr- und Steuerpersonals</li>
              </ul>
            </li>
            <li>Praktische Übungen mit dem Gabelstapler</li>
            <li>Theoretische und praktische Prüfung</li>
          </ul>
        </div>

        <div class="section">
          <h2>Jährliche Unterweisungen</h2>
          <ul>
            <li>Aktualisierung des Wissens & Berücksichtigung neuer Entwicklungen</li>
            <li>Behandlung arbeitsplatzspezifischer Gefahren</li>
            <li>Durchführung durch den Arbeitgeber</li>
          </ul>
        </div>

        <div class="section note">
          <h3>Wichtiger Hinweis</h3>
          <p>
            Der <strong>Gabelstaplerführerschein</strong> ist <u>nicht</u> mit einem regulären Führerschein zu verwechseln.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>


{% include "app/includes/reviews_section.html" %}

{% endblock %}