{% extends "app/pages/base.html" %}

{% block title %}main{% endblock %}

{% block content %}

<section class="articles-section pb60">
    <div class="pt80 pb40">
    </div>
    <div class="container">
        
        <div class="article-page" style="margin-bottom: 70pt" >
            <div class="articles-section__title" id="klasse_c">
                <h2 class="title-1">Klasse C</h2>
            </div>
            <div class="article-page__wrapper content">

                <p><img src="/static/img/categories/lkw_1.webp" alt="" width="" height="" loading="lazy"></p>
                <span></span>
                <p>Die Klasse C betrifft Kraftfahrzeuge mit einer zulässigen Gesamtmasse von über 3500kg und mit nicht mehr als acht Sitzplätzen (Fahrersitz ausgenommen), die nicht zur Personenbeförderung gebaut und ausgelegt sind.</p>
                <p>Mit diesem Führerschein eröffnen sich Ihnen vielfältige Möglichkeiten im Bereich des Berufskraftverkehrs und des Gütertransports.</p>
                <p>Unser umfassendes Ausbildungsprogramm für die Klasse C bietet Ihnen die perfekte Gelegenheit, die notwendigen Fähigkeiten und Kenntnisse zu erlangen, um schwere Lastkraftwagen sicher und souverän zu führen. Unsere erfahrenen Fahrlehrer stehen Ihnen dabei zur Seite und begleiten Sie durch alle Phasen Ihrer Ausbildung.</p>
                <p>Egal, ob Sie bereits Erfahrung im Fahren von großen Fahrzeugen haben oder ganz neu in diesem Bereich sind, bei der Fahrschule SVS Müller sind Sie genau richtig. Wir passen unsere Kurse individuell an Ihre Bedürfnisse an und bereiten Sie optimal auf die Herausforderungen des Straßenverkehrs vor.</p>

            </div>
        </div>
        
        <div class="article-page" style="margin-bottom: 70pt" >
            <div class="articles-section__title" id="klasse_c1">
                <h2 class="title-1">Klasse C1</h2>
            </div>
            <div class="article-page__wrapper content">

                <p><img src="/static/img/categories/lkw_2.webp" alt="" width="" height="" loading="lazy"></p>
                <span></span>
                <p>Die Klasse C1 betrifft Kraftfahrzeuge mit einer zulässigen Gesamtmasse von über 3500kg aber unter 7500kg und mit nicht mehr als acht Sitzplätzen (Fahrersitz ausgenommen), die nicht zur Personenbeförderung gebaut und ausgelegt sind.</p>
                <p>Dieser Führerschein erweitert Ihre Fahrkompetenz und ermöglicht es Ihnen, Fahrzeuge bis zu einem bestimmten Gewicht sicher zu lenken.</p>
                <p>Unser maßgeschneidertes Ausbildungsprogramm für die Klasse C1 ist darauf ausgerichtet, Ihnen alle erforderlichen Fähigkeiten und Kenntnisse zu vermitteln, um mit Leichtigkeit und Sicherheit Fahrzeuge dieser Klasse zu führen. Unsere erfahrenen Fahrlehrer begleiten Sie dabei und stehen Ihnen mit Rat und Tat zur Seite.</p>
                <p>Ob Sie bereits Erfahrung im Fahren von Fahrzeugen der Klasse C1 haben oder ganz neu in diesem Bereich sind, wir passen unsere Kurse individuell an Ihre Bedürfnisse an. Mit praktischer Erfahrung und fundiertem theoretischen Wissen bereiten wir Sie optimal auf die Anforderungen des Straßenverkehrs vor.</p>

            </div>
        </div>
        
        <div class="article-page" style="margin-bottom: 70pt" >
            <div class="articles-section__title" id="klasse_ce">
                <h2 class="title-1">Klasse CE</h2>
            </div>
            <div class="article-page__wrapper content">

                <p><img src="/static/img/categories/lkw_1.webp" alt="" width="" height="" loading="lazy"></p>
                <span></span>
                <p>Die Klasse CE bezieht sich auf Zugfahrzeuge der Klasse C mit einem Anhänger mit einer zulässigen Gesamtmasse von 750kg, die nicht zur Personenbeförderung gebaut und ausgelegt sind.</p>
                <p>Mit diesem Führerschein eröffnen sich Ihnen Türen zu einer Vielzahl von beruflichen Möglichkeiten im Bereich des Gütertransports und des Fernverkehrs.</p>
                <p>Unser professionelles Ausbildungsprogramm für die Klasse CE ist darauf ausgerichtet, Ihnen alle erforderlichen Fähigkeiten und Kenntnisse zu vermitteln, um schwere Lastkraftwagen mit Anhängern sicher und effizient zu führen. Unsere erfahrenen Fahrlehrer begleiten Sie dabei und stehen Ihnen mit Rat und Tat zur Seite, während Sie sich auf Ihre Prüfung vorbereiten.</p>
                <p>Egal, ob Sie bereits Erfahrung im Fahren von großen Fahrzeugen haben oder ganz neu in diesem Bereich sind, bei der Fahrschule SVS Müller sind Sie in guten Händen. Wir passen unsere Kurse individuell an Ihre Bedürfnisse an und unterstützen Sie dabei, Ihre beruflichen Ziele zu erreichen.</p>

            </div>
        </div>

        <div class="article-page" style="margin-bottom: 70pt" >
            <div class="articles-section__title" id="klasse_c1e">
                <h2 class="title-1">Klasse C1E</h2>
            </div>
            <div class="article-page__wrapper content">

                <p><img src="/static/img/categories/lkw_2.webp" alt="" width="" height="" loading="lazy"></p>
                <span></span>
                <p>Die Klasse C1E bezieht sich auf Zugfahrzeuge der Klasse C1 mit einem Anhänger über 750kg oder der Klasse B mit einem Anhänger über 3500kg, soweit die zulässige Gesamtmasse der Kombination 12000kg nicht übersteigt, die nicht zur Personenbeförderung gebaut und ausgelegt sind.</p>
                <p>Mit diesem Führerschein eröffnen sich Ihnen neue Horizonte im Bereich des Gütertransports, indem Sie Fahrzeuge bis zu einem bestimmten Gewicht mit Anhängern führen dürfen.</p>
                <p>Unser maßgeschneidertes Ausbildungsprogramm für die Klasse C1E ist darauf ausgelegt, Ihnen alle notwendigen Fähigkeiten und Kenntnisse zu vermitteln, um Anhänger sicher und effizient zu manövrieren. Unsere erfahrenen Fahrlehrer unterstützen Sie dabei und stehen Ihnen während des gesamten Ausbildungsprozesses zur Seite.</p>
                <p>Egal, ob Sie bereits Erfahrung im Fahren von Fahrzeugen der Klasse C1E haben oder neu in diesem Bereich sind, bei der Fahrschule SVS Müller sind Sie in guten Händen. Wir passen unsere Kurse individuell an Ihre Bedürfnisse an und bereiten Sie optimal auf die Herausforderungen des Straßenverkehrs vor.</p>

            </div>
        </div>
        
    </div>
</section>

{% include "app/includes/reviews_section.html" %}

{% endblock %}