{% extends "app/pages/base.html" %}

{% block title %}main{% endblock %}

{% block content %}

<section class="articles-section pb60">
    <div class="pt80 pb40">
    </div>
    <div class="container">

        

        <div class="article-page" style="margin-bottom: 70pt" >
            <div class="articles-section__title" id="klasse_a">
                <h2 class="title-1">Klasse A</h2>
            </div>
            <div class="article-page__wrapper content">

                <p><img src="/static/img/categories/moto_a.webp" alt="" width="" height="" loading="lazy"></p>
                <span></span>
                <p>Mit diesem Führerschein eröffnen sich Ihnen grenzenlose Möglichkeiten, die Welt auf zwei Rädern zu erkunden.</p>
                <p>Unser spezialisiertes Ausbildungsprogramm für die Klasse A bietet Ihnen alle erforderlichen Fähigkeiten und Kenntnisse, um Motorräder sicher und souverän zu führen. Unsere erfahrenen Fahrlehrer begleiten Sie dabei und stehen Ihnen mit Rat und Tat zur Seite, während Sie sich auf Ihre Fahrprüfung vorbereiten.</p>
                <p>Egal, ob Sie ein absoluter Neuling auf dem Gebiet des Motorradfahrens sind oder bereits Erfahrung haben, bei der Fahrschule SVS Müller sind Sie in guten Händen. Wir passen unsere Kurse individuell an Ihre Bedürfnisse an und bereiten Sie optimal auf die Herausforderungen des Straßenverkehrs vor.</p>
                <p>Starten Sie noch heute Ihre Motorrad-Abenteuer mit dem Führerschein der Klasse A bei der Fahrschule SVS Müller.</p>

            </div>
        </div>

        <div class="article-page" style="margin-bottom: 70pt" >
            <div class="articles-section__title" id="klasse_a2">
                <h2 class="title-1">Klasse A2</h2>
            </div>
            <div class="article-page__wrapper content">

                <p><img src="/static/img/categories/moto_a2.webp" alt="" width="" height="" loading="lazy"></p>
                <span></span>
                <p>Dieser Führerschein ermöglicht es Ihnen, Motorräder mit einer begrenzten Leistung zu fahren und eröffnet Ihnen ein neues Kapitel der Mobilität und des Abenteuers.</p>
                <p>Im Gegensatz zum Führerschein der Klasse A, der Ihnen die uneingeschränkte Nutzung aller Motorradtypen ermöglicht, beschränkt sich die Klasse A2 auf Motorräder mit einer bestimmten Leistungsgrenze. Dennoch bietet Ihnen der Führerschein der Klasse A2 eine breite Palette von Möglichkeiten, um die Freuden des Motorradfahrens zu erleben und Ihre Fahrkompetenz zu erweitern.</p>
                <p>Unser erfahrenes Team von Fahrlehrern unterstützt Sie während des gesamten Ausbildungsprozesses und bereitet Sie optimal auf die Anforderungen der Klasse A2 vor. Wir passen unsere Kurse individuell an Ihre Bedürfnisse an, um sicherzustellen, dass Sie sowohl die praktischen als auch die theoretischen Kenntnisse erwerben, die für einen sicheren und selbstbewussten Fahrstil erforderlich sind.</p>
                <p>Starten Sie noch heute Ihr Abenteuer auf zwei Rädern mit dem Führerschein der Klasse A2 von der Fahrschule SVS Müller. </p>

            </div>
        </div>

        <div class="article-page" style="margin-bottom: 70pt" >
            <div class="articles-section__title" id="klasse_a1">
                <h2 class="title-1">Klasse A1</h2>
            </div>
            <div class="article-page__wrapper content">

                <p><img src="/static/img/categories/moto_a3.webp" alt="" width="" height="" loading="lazy"></p>
                <span></span>
                <p>Mit diesem Führerschein können Sie leichte Motorräder fahren und die unendliche Freiheit der Straße erleben.</p>
                <p>Der Führerschein der Klasse A1 ermöglicht es Ihnen, Motorräder mit einem Hubraum von bis zu 125 cm³ und einer Leistung von maximal 11 kW zu fahren. Im Vergleich dazu berechtigt der Führerschein der Klasse A zum Fahren von Motorrädern jeder Leistungsklasse.</p>
                <p>Unser spezialisiertes Ausbildungsprogramm für die Klasse A1 ist darauf ausgerichtet, Ihnen alle erforderlichen Fähigkeiten und Kenntnisse zu vermitteln, um sicher und selbstbewusst auf zwei Rädern unterwegs zu sein. Unsere erfahrenen Fahrlehrer begleiten Sie durch den gesamten Ausbildungsprozess und bereiten Sie optimal auf Ihre Fahrprüfung vor.</p>
                <p>Egal, ob Sie bereits Erfahrung im Motorradfahren haben oder ganz neu in diesem Bereich sind, bei der Fahrschule SVS Müller sind Sie in besten Händen. Wir passen unsere Kurse individuell an Ihre Bedürfnisse an und unterstützen Sie dabei, Ihre motorisierten Träume zu verwirklichen.</p>
                <p>Starten Sie noch heute Ihre Reise zum Erwerb des Führerscheins der Klasse A1 bei der Fahrschule SVS Müller. </p>

            </div>
        </div>

        

        

        

        <div class="article-page" style="margin-bottom: 70pt" >

            <div class="articles-section__title" id="klasse_am">
                <h2 class="title-1">Klasse AM</h2>
            </div>
            <div class="article-page__wrapper content">

                <p><img src="/static/img/categories/mofa.webp" alt="" width="" height="" loading="lazy"></p>
                <span></span>
                <p>Dieser Führerschein ermöglicht es Ihnen, leichte Motorräder und Mopeds sicher und eigenständig zu führen, und eröffnet Ihnen somit eine neue Welt der Mobilität.</p>
                <p>Im Vergleich zur Klasse A, die den Führerschein für schwerere Motorräder abdeckt, konzentriert sich die Klasse AM auf leichtere Fahrzeuge mit begrenzter Motorleistung. Bei der Fahrschule SVS Müller bieten wir Ihnen eine umfassende Ausbildung, um Ihnen das nötige Wissen und die Fähigkeiten zu vermitteln, um sicher und verantwortungsbewusst auf zwei Rädern unterwegs zu sein.</p>
                <p>Unsere erfahrenen Fahrlehrer begleiten Sie durch den gesamten Ausbildungsprozess und unterstützen Sie dabei, alle erforderlichen Fahrfähigkeiten zu erlernen. Egal, ob Sie ein kompletter Anfänger sind oder bereits einige Erfahrung haben, unsere Kurse sind darauf ausgelegt, Ihre individuellen Bedürfnisse zu erfüllen und Sie optimal auf Ihre Fahrprüfung vorzubereiten.</p>
                <p>Starten Sie noch heute Ihr Abenteuer auf zwei Rädern mit dem Führerschein der Klasse AM von der Fahrschule SVS Müller. </p>

            </div>
        </div>
    </div>
</section>

{% include "app/includes/reviews_section.html" %}

{% endblock %}