{% extends "app/pages/base.html" %}

{% block title %}main{% endblock %}

{% block content %}

<section class="articles-section pb60">
    <div class="pt80 pb40">
    </div>
    <div class="container">
        
        <div class="article-page" style="margin-bottom: 70pt" >
            <div class="articles-section__title" id="klasse_c">
                <h2 class="title-1">Klasse B</h2>
            </div>
            <div class="article-page__wrapper content">

                <p><img src="/static/img/categories/auto.webp" alt="" width="" height="" loading="lazy"></p>
                <span></span>
                <p>Die Klasse B betrifft Kraftfahrzeuge mit einer zulässigen Gesamtmasse von nicht mehr als 3500kg und nicht mehr als acht Sitzplätzen (Fahrersitz ausgenommen), und einem Anhänger sofern die zulässige Gesamtmasse des Anhängers nicht 750kg und die zulässige Gesamtmasse der Kombination nicht 3500kg übersteigt.</p>
                <p>Mit diesem Führerschein erlangen Sie die Freiheit, Autos sicher und selbstbewusst auf den Straßen zu steuern.</p>
                <p>Unser umfassendes Ausbildungsprogramm bietet Ihnen alle erforderlichen Fähigkeiten und Kenntnisse, um ein verantwortungsbewusster und sicherer Fahrer zu werden. Unsere erfahrenen Fahrlehrer stehen Ihnen während des gesamten Schulungsprozesses zur Seite und führen Sie Schritt für Schritt durch den Unterricht, die praktische Ausbildung und die Vorbereitung auf Ihre Fahrprüfung.</p>
                <p>Egal, ob Sie ein absoluter Neuling hinter dem Lenkrad sind oder Ihre Fahrkenntnisse auffrischen möchten, bei der Fahrschule SVS Müller sind Sie genau richtig. Wir passen unsere Kurse individuell an Ihre Bedürfnisse und Ihr Tempo an, um sicherzustellen, dass Sie optimal auf die Herausforderungen des Straßenverkehrs vorbereitet sind.</p>
                <p>Starten Sie noch heute Ihr Abenteuer auf vier Rädern mit dem B-Führerschein. Kontaktieren Sie uns, um mehr über unsere Kurse und Verfügbarkeiten zu erfahren, und lassen Sie uns gemeinsam Ihre Fahrziele erreichen!</p>
            </div>
        </div>
        
        <div class="article-page" style="margin-bottom: 70pt" >
            <div class="articles-section__title" id="klasse_c1">
                <h2 class="title-1">Klasse B96</h2>
            </div>
            <div class="article-page__wrapper content">

                <p><img src="/static/img/categories/auto_3.webp" alt="" width="" height="" loading="lazy"></p>
                <span></span>
                <p>Mit dieser Erweiterung eröffnen sich Ihnen neue Möglichkeiten, Anhänger sicher und souverän zu führen, ohne gleich den schwereren E-Führerschein machen zu müssen.</p>
                <p>Unser spezielles Schulungsprogramm für die Klasse B96 bietet Ihnen die perfekte Gelegenheit, Ihre Fahrkompetenz zu erweitern und die Sicherheit beim Fahren mit einem Anhänger zu erhöhen. Unsere erfahrenen Fahrlehrer stehen Ihnen während des gesamten Ausbildungsprozesses zur Seite und führen Sie durch alle Aspekte des Fahrens mit Anhänger.</p>
                <p>Egal, ob Sie bereits Erfahrung im Fahren mit Anhänger haben oder neu in diesem Bereich sind, wir passen unsere Kurse individuell an Ihre Bedürfnisse an. Von der Fahrzeugkontrolle bis hin zu spezifischen Fahrtechniken erhalten Sie bei uns das nötige Wissen und die praktische Erfahrung, um sicher und selbstbewusst Anhänger zu ziehen.</p>
                <p>Starten Sie noch heute Ihr Abenteuer mit dem B96-Führerschein. Kontaktieren Sie uns, um mehr über unsere Kurse und Verfügbarkeiten zu erfahren, und lassen Sie uns gemeinsam Ihre Fahrziele erreichen!</p>
            </div>
        </div>
        
        <div class="article-page" style="margin-bottom: 70pt" >
            <div class="articles-section__title" id="klasse_ce">
                <h2 class="title-1">Klasse B196</h2>
            </div>
            <div class="article-page__wrapper content">

                <p><img src="/static/img/categories/moto_a3.webp" alt="" width="" height="" loading="lazy"></p>
                
                <p>Seit Anfang 2020 können Inhaber der Fahrerlaubnisklasse B nach dem Absolvieren einer theoretischen und praktischen Fahrerschulung auch Krafträder der Klasse A1 in Deutschland fahren. Und das ohne die vollständige Ausbildung absolvieren zu müssen. Auch auf die theoretische und praktische Prüfung wird verzichtet. Die Berechtigung wird im Führerschein durch die Eintragung der Schlüsselzahl 196 bei der Fahrerlaubnisklasse B dokumentiert.</p>
                <p>Neben allen Kraftfahrzeugen der Klasse B dürfen auch Krafträder der Klasse A1 geführt werden, das heißt Krafträder mit einem Hubraum von nicht mehr als 125 cm³ und einer Motorleistung von nicht mehr als 11 kW, bei denen das Leistung/Leergewicht-Verhältnis 0,1 kW/kg nicht übersteigt, sowie dreirädrige Kraftfahrzeuge bis 15 kW.</p>
                <p>Da es sich bei B196 um eine Erweiterung der Klasse B mit der nationalen Schlüsselziffer 196 handelt, wird die Klasse nur in Deutschland anerkannt. Im Ausland wird diese nicht akzeptiert.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>

        <div class="article-page" style="margin-bottom: 70pt" >
            <div class="articles-section__title" id="klasse_c1e">
                <h2 class="title-1">Klasse BE</h2>
            </div>
            <div class="article-page__wrapper content">

                <p><img src="/static/img/categories/auto_4.webp" alt="" width="" height="" loading="lazy"></p>
                <span></span>
                <p>Die Klasse BE betrifft Kombinationen aus einem Zugfahrzeug der Klasse B und einem Anhänger, sofern die zulässige Gesamtmasse des Anhängers 3500kg nicht übersteigt.</p>
                <p>Der BE-Führerschein ermöglicht es Ihnen, nicht nur ein Auto der Klasse B zu fahren, sondern auch Anhänger bis zu einer bestimmten Gesamtmasse zu ziehen. Bei der Fahrschule SVS Müller bieten wir Ihnen eine umfassende Ausbildung, die Sie optimal auf die Anforderungen dieser Klasse vorbereitet.</p>
                <p>Unsere erfahrenen Fahrlehrer stehen Ihnen während des gesamten Schulungsprozesses zur Seite, um Ihnen alle notwendigen Fähigkeiten und Kenntnisse zu vermitteln. Von der sicheren Bedienung des Fahrzeugs bis hin zu den spezifischen Anforderungen beim Fahren mit Anhänger – wir begleiten Sie Schritt für Schritt auf dem Weg zum erfolgreichen Abschluss Ihrer Fahrprüfung.</p>
                <p>Starten Sie noch heute Ihr Abenteuer auf den Straßen mit dem BE-Führerschein. Kontaktieren Sie uns, um mehr über unsere Kurse und Verfügbarkeiten zu erfahren, und lassen Sie uns gemeinsam Ihre Fahrziele erreichen!</p>
            </div>
        </div>
        
    </div>
</section>

{% include "app/includes/reviews_section.html" %}

{% endblock %}