{% extends "app/pages/base.html" %}

{% block title %}main{% endblock %}

{% block content %}

    <main class="main">
        <section class="load-section">
            <div class="load-section__container container">
                <div class="load">
                    <div class="load__title">
                        <h1 class="title-1">Danke!</h1>
                        <h3 class="title-4"><p>Vielen Dank für Ihre Anfrage</p></h3>
                    </div>
    
                    <div class="load__body">
                        
                        <p>
                            <b>Bitte beachten Sie</b>, dass alle Anfragen von Montag bis Samstag zwischen 10:00 und 20:00 Uhr bearbeitet werden.
                            Wenn Sie Ihre Anfrage <b>nach 20:00 Uhr</b> gesendet haben, werden wir Sie <b>am nächsten Tag</b> kontaktieren.
                        </p>
                        <p>Vielen Dank für Ihr Vertrauen in unseren Service! Wenn Sie Fragen zur Ausbildung in der Fahrschule oder zu unserer Arbeit haben, können Sie uns gerne anrufen oder schreiben:</p>
    
    
                        <ul>
                            <li>Handynummer: <a href="tel:0172-792 88 78">0172-792 88 78</a> </li>
                            <li>Email: <a href="email:info@fahrschule-svs-mueller.de">info@fahrschule-svs-mueller.de</a></li>
                        </ul>

                        <p>Haben Sie einen schönen Tag und gute Laune!</p>
    
                    </div>
                    <div class="load__btn">
                        <a href="/" class="btn btn--p">Startseite</a>
                    </div>
                </div>
            </div>
            <div class="load-section__icon"></div>
        </section>
    </main>

{% endblock %}
    
